<!doctype html>
<html>
<head>
    <title>2047app</title>
    <meta charset="utf-8"/>
    <meta name="keywords" content="2047app"/>
    <meta name="description" content="2047app"/>
    <link rel="manifest" href="/manifest.json">

    <meta name="theme-color" content="#ace">
    <meta name="viewport" content="width=device-width,minimum-scale=.5,maximum-scale=.5,user-scalable=no">
    <link rel="icon" sizes="192x192" href="/dist/images/logo/logo192.png">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="/dist/images/logo/logo192.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/dist/images/logo/logo180.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/dist/images/logo/logo152.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/dist/images/logo/logo072.png">
    <link rel="shortcut icon" href="/dist/images/logo/logo016.png">
    <meta name="application-name" content="2047app">
    <meta name="description"
          content="This is a demonstration website which uses Progressive Web App technologies to provide offline functionality.">
    <meta name="keywords" content="website, pwa, offline">
    <meta name="author" content="Craig Buckler">
    <meta name="robots" content="noindex, nofollow">

    <style>
        html, body {
            height: 100%;
            -webkit-touch-callout: none;
            -webkit-user-select: none;
        }

        #root {
            height: 100%;
        }

        /*初始化页面*/
        .init-page {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            background-color: #d43d3d;
        }

        .init-page p {
            font-size: 60px;
            color: #fff;
        }
    </style>
    <script>
        (function () {
            // enable service worker
            if ('serviceWorker' in navigator) {

                // register service worker
                navigator.serviceWorker.register('/service-worker.js');

                // load script to populate offline page list
                if (document.getElementById('cachedpagelist') && 'caches' in window) {
                    var scr = document.createElement('script');
                    scr.src = '/js/offlinepage.js';
                    scr.async = 1;
                    document.head.appendChild(scr);
                }

            }
        })()
    </script>
</head>
<body ontouchstart>

<div id="root">
    <div class="init-page">
        <p>Hello World 2047</p>
    </div>
</div>
<script async src="https://cdn.bootcss.com/babel-polyfill/6.22.0/polyfill.min.js"></script>
<script src="/dist/scripts/common/<%= htmlWebpackPlugin.options.bundleName %>"></script>

</body>
</html>
